.characterCard{
    background-color: rgb(13,139,177);
    margin: 1em;
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    text-shadow: 6px 4px 7px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    position: relative;
}

.dataCard{
    background-color: rgb(13,139,177);
    margin: 1em;
    width: 300px;
    padding: 1em;
    font-size: 0.8rem;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    text-shadow: 6px 4px 7px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.characterCard:hover {
    opacity: 0.8;
}

.closeButton{
    border: 0px;
    background-color: red;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    color: white;
    position: absolute;
    right: 25px;
    top: 25px;
}

.closeButton:hover{
    border: 1px solid black;
    font-size: 14px;
    font-weight: bold;
    transition: 1s;
    color: black
}

.characterImage{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: azure;
}

@media (max-width: 560px) {
    .characterImage{
        width: 90%;
        height: auto;
    }
}