.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: fadeInUp 1s ease-out;
}

@media (max-width: 560px) {
    .containerCards{
        grid-template-columns: 100%;
    }
}