@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.formDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.formImage {
    position: fixed;
    border: none;
    background-image: url("../assets/portal_login.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 70%;
    height: 70%;
    margin-top: 2rem;
    z-index: -1;
    margin: 0%;
    transition: 0.5s;
    animation: fadeInUp 1s ease-out forwards, rotateBackground 20s linear infinite;
  }
  
  .formContainer {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: none;
    padding: 20px;
    animation: fadeInUp 1s ease-out;
  }
  
  .formTitle {
    font-size: 7vw;
    font-family: 'Creepster', cursive;
    color: rgb(18, 176, 201);
    -webkit-text-stroke: 2px rgb(200, 221, 93);
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  input {
    width: auto;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 24px;
  }
  
  button.buttonForm {
    background-color: #000;
    color: #fff;
    font-weight: bold;  
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3); /* se agrega la sombra */
  }
  
  button.buttonForm:hover {
    background-color: #fff;
    color: #000;
    font-weight: bold;
  }

  button.buttonForm:active {
    transform: scale(0.8);
    transition: 0.1s;
  }

  .errorInput {
    border-color: red;
}

  .errorInput:focus {
      outline-color: red;
  }

  .error{
    background-color: rgba(139, 37, 37, 0.226);
    color: red;
    width: auto;
    padding: 5px 0;
    font-size: 15px;
  }
  
  @media only screen and (max-width: 768px) {
    .formContainer {
      width: 80%;
    }
  }

  @keyframes rotateBackground {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
  }
  