@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  width: 100%;
}

.wrapper .navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  background: #3b3c44b6;
  height: 60px;
  transition: 0.5s;
}

.wrapper .navbar .menu ul li{
  display: inline-block;
  margin: 0 10px;
}

.wrapper .navbar .menu ul li a{
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
}

.buttonNav {
    width: 80px;
    position: relative;
    border: none;
    background-color: transparent;
    margin: 0 10px;
    color: rgb(117, 117, 117);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s;
}

.buttonNav:hover{
    color: rgb(154, 154, 154);
    transition: 0.5s;
}

.active button.buttonNav {
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

.logoutContainer li {
  display: inline; 
  position: relative;
}

@media screen and (max-width: 730px){

  .wrapper .navbar{
    height: auto;
    padding: 0px;
    flex-direction: column;
    height: 200px;
    justify-content: center;
  }

  .wrapper .navbar .menu ul li{
    display: block;
    text-align: center;
    margin: 10px 0;
    box-sizing: border-box;  

}

  .buttonNav:active{
    color: rgb(255, 255, 255);
    transition: 0.5s;
  }

  .logoutContainer li {
    top: 10px;
  }
}

.mood {
  background: url("../assets/rickandmortyday.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  transition: 0.5s;
}

.mood .wrapper .navbar{
  background: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
}

.mood .active button.buttonNav {
  color: rgb(255, 255, 255);
  transition: 0.5s;
}
